.bg{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--watermelon-30);
}

.card{
  width: 480px;
  height: 600px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s ease;
  padding: 48px;
  background-color: white;
  position: relative;
  transform-style: preserve-3d;
}

.card::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: var(--background-gradient);
  border-radius: 30px;
  filter: blur(15px);
  opacity: 0.2;
  z-index: -1;
  transform: translateZ(-1px);
  transition: opacity 0.3s ease, filter 0.3s ease;
}

.card:hover{
  transform: translateY(-5px);
}

.card:hover::before {
  opacity: 0.3;
}

.card-title{
  font-size: 2.25rem;
  font-weight: 700;
  text-align: initial;
  width: 100%;
}

.card-title-span{
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.card-text{
  font-size: 1rem;
  color: #6B6B6B;
  align-self: flex-start;
  text-align: initial;
  width: 70%;
  text-wrap: pretty;
  padding-top: 1rem;
}

.action-text{
  font-weight: 600;
}

.action-link{
  color:  var(--rose-punch);
  text-decoration: none;
}
