:root {
  --cherry-bomb: #DB0428;
  --rose-punch: #D64282;
  --watermelon: #EC4255;
  --tangerine: #FC8439;
  --rose-punch-50: rgb(214 66 130 / 0.5);
  --watermelon-30: rgb(236 66 85 / 0.2);
  --text-gradient: -webkit-linear-gradient(135deg, var(--rose-punch) 0%, var(--watermelon) 30%, var(--tangerine) 100%);
  --background-gradient: linear-gradient(43deg, var(--rose-punch) 0%, var(--watermelon) 50%, var(--tangerine) 100%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

html {
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../assets/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}
