/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
:root{
    --rose-punch: #D64282;
    --rose-punch-50: rgb(214 66 130 / 0.5);
    --watermelon: #EC4255;
    --tangerine: #FC8439;
}


.bg{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(43deg, var(--rose-punch) 0%, var(--watermelon) 50%, var(--tangerine) 70%);
  background-size: 300% 300%;
  animation: gradient 7s ease infinite;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card{
    background: white;
    width: 500px;
    height: 600px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgb(105 1 27 / 0.12);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.6s ease;
    will-change: transform;
    padding: 48px;
}

.card:hover{
    box-shadow: 0px 0px 20px rgb(105 1 27 / 0.22);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
.card-title{
    font-size: 2.25rem;
    font-weight: 700;
    text-align: initial;
    width: 100%;
}

.card-title-span{
    background: -webkit-linear-gradient(135deg, var(--rose-punch) 0%, var(--watermelon) 30%, var(--tangerine) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-text{
    font-size: 1rem;
    color: #6B6B6B;
    align-self: flex-start;
    text-align: initial;
    width: 70%;
    text-wrap: pretty;
    padding-top: 1rem;
}

.form-inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100% ;
}

.input-wrapper {
    --padding: 10px;
    --focus-color: var(--rose-punch);
    --placeholder-color:var(--rose-punch-50);
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

input {
    padding: var(--padding);
    border: 2px solid var(--placeholder-color);
    outline: none;
    border-radius: 15px;
    width: 100%;
}

.placeholder {
    position: absolute;
    background-color: white;
    color: var(--placeholder-color);
    left: var(--padding);
    padding: 0 4px;
    transition: all 0.3s ease-in;
}

input:is(:focus, :valid) {
    border: 2px solid var(--focus-color);
}

input:is(:focus, :valid) + .placeholder {
    transform: translatey(calc(-1 * var(--padding) - 12px));
    font-size: 14px;
    color: var(--focus-color);
}

.login-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-radius: 15px;
    padding:10px;
    background: linear-gradient(270deg, var(--rose-punch) 0%, var(--watermelon) 50%, var(--tangerine) 100%);
    background-size: 200% 200%;
    color: white;
    border: 2px solid white;
}

.login-btn:hover, .login-btn:focus{
    animation: gradient 5s ease infinite;
    cursor: pointer;
}

.login-btn:focus-visible{
    outline: var(--rose-punch) solid 2px;
}
.action-text{
    font-weight: 600;
}
.action-link{
    color:  var(--rose-punch);
    text-decoration: none;
}