.action-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 15px;
  padding: 10px;
  background: var(--background-gradient);
  background-size: 200% 200%;
  color: white;
  border: 2px solid white;
  transition: transform 0.6s ease, opacity 0.3s ease;

  &:hover:not(:disabled), &:focus:not(:disabled) {
    animation: gradient 6s ease infinite;
    cursor: pointer;
    transform: scale(1.01);
    transition: transform 0.3s ease;
  }

  &:focus-visible {
    outline: var(--rose-punch) solid 2px;
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
